* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #000000;
    scroll-behavior: smooth;
}

.row {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    border: 0;
    border-inline: 0;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}