.textbox-container-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
}

.textbox-container-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 15%;
}

.text-box {
    display: inline-block;
    width: 300px;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 6px rgba(0,0,0,.2);

    h3 {
        width: 100%;
        color: white;
        background-color: black;
        padding: 15px 15px;
    }
    
    p {
        width: 100%;
        font-size: 90%;
        padding: 15px 15px;
    }

}

.box-left { margin-right: 40px; }
.box-right { margin-left: 40px;}

.icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 120%;
    margin-right: 20px;
}