footer {
    padding: 60px;
    background-color: #000000;
    color: white;
    text-align: right;

    img {
        height: 80px;
    }

    p {
        font-weight: 200;
        font-size: 60%;
    }
}