header {
    height: 100vh;
}

.main-heading {
    position: absolute;
    padding-top: 35vh;
    padding-left: 10vw;
}

.header-image {
    height: 400px;
    width: auto;
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: -9999;
}

.tagline {
    font-size: 160%;
    line-height: 100%;
    font-weight: 500;
}