/* --------------------------------------------- */
/* ABOUT SECTION */
/* --------------------------------------------- */

.section-about {
    background-color: #2D3D8B;
    height: 80vh;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    p {
        padding: 0 20%;
    }
}

/* --------------------------------------------- */
/* INSTRUCTION-BASED PROGRAM SECTION*/
/* --------------------------------------------- */

.section-program-1 {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        padding: 0 15%;
        line-height: 80%;
        text-align: right;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    img {
        height: 380px;
        width: auto;
        position: absolute;
        top: 195%;
        padding-left: 200px;
        align-self: flex-start;
        z-index: -9999;
    }
}

/* --------------------------------------------- */
/* CONSULTATION-BASED PROGRAM SECTION */
/* --------------------------------------------- */

.section-program-2 {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;

    h2 {
        padding: 0 15%;
        line-height: 80%;
        text-align: left;
        margin-bottom: 40px;
    }

    img {
        height: 420px;
        width: auto;
        position: absolute;
        top: 265%;
        padding-right: 150px;
        align-self: flex-end;
        z-index: -9999;
    }
}

/* --------------------------------------------- */
/* CONTACT US */
/* --------------------------------------------- */

.section-contact {
    height: 80vh;
    background-color: #2D3D8B;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 140px;
    
    h2, ul, p { 
        color: #ffffff; 
        margin-bottom: 10px;
    }

    h2 { margin-top: 140px; }

    p { 
        padding-right: 40%;
        font-size: 130%;
        margin: 5px inherit;
    }

    ul li {
        list-style: none;
        a {
            text-decoration: none;
            color: white;
            font-size: 200%;
            letter-spacing: 1px;
            transition: text-decoration 0.2s;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    img {
        height: 350px;
        width: auto;
        position: absolute;
        top: 370%;
        left: 50%;
        z-index: 9998;
    }
}